<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TikTok Tags Analytics</title>
    <!-- Link to your custom CSS stylesheet -->
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js"></script>
</head>
<body>
  <h1>TikTok Tags Analytics</h1>
  <div>
    <input type="text" id="keyword" name="keyword">
    <button id="fetchData">Get</button>
  </div>
  <h2>TOP HASHTAGS</h2>
  <table id="table">
    <thead>
      <tr>
        <th>Hashtag</th>
        <th>Views <i class="fa fa-sort" id="sortViews"></i></th>
        <th>User</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <!-- Data will be inserted here -->
    </tbody>
  </table>
  <div id="loadingMessage" style="display: none;">((   Loading Data   ))</div>
</body>
<footer></footer>
</html>
